html,
body {
    height: 100%;
    margin: 0;
}

#__nuxt,
#__layout {
    height: 100%;
}

.form-label {
    font-size: 12px;
    font-weight: 500;
    color: grey;
    margin-bottom: 0;
    line-height: 0.5rem !important;
}

.btn-primary {
    background-color: #3aafa9;
    border: 1px solid #3aafa9;

    &:hover {
        background-color: #def2f1;
        color: #3aafa9;
    }
}

::v-deep {
    .form-group {
        label {
            font-weight: 400;
            color: #17252a;
            margin-bottom: 0.25rem;
        }
    }
}

/** Button default style override **/
::v-deep {

    .btn-default {
        color: #000;
        background-color: #f2f2f2;
        border-color: #e2e2e2;
    }

    .show>.btn-default.dropdown-toggle {
        color: #000;
        background-color: #f2f2f2;
        border-color: #f2f2f2;
    }

    .dropdown-menu.show {
        width: 100%;
    }

    .dropdown-toggle {
        display: flex;
        justify-content: space-between;
    }

    .dropdown-toggle::after {
        margin-top: 0.5rem;
    }

    .dropdown-item {
        white-space: pre-wrap;
    }
}






/** scrollbar css override **/
::-webkit-scrollbar {
    background-color: #fff;
    width: 10px
}

::-webkit-scrollbar-track {
    background-color: #fff
}

::-webkit-scrollbar-track:hover {
    background-color: #f4f4f4
}

::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 10px;
    border: 3px solid #fff
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
    border: 2px solid #f4f4f4
}

::v-deep.ui.selection.dropdown .menu::-webkit-scrollbar-button {
    display: none
}

::v-deep.ui.selection.dropdown .menu::-webkit-scrollbar {
    background-color: #fff;
    width: 10px
}

::v-deep.ui.selection.dropdown .menu::-webkit-scrollbar-track {
    background-color: #fff
}

::v-deep.ui.selection.dropdown .menu::-webkit-scrollbar-track:hover {
    background-color: #f4f4f4
}

::v-deep.ui.selection.dropdown .menu::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 10px;
    border: 3px solid #fff
}

::v-deep.ui.selection.dropdown .menu::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
    border: 2px solid #f4f4f4
}

::v-deep.ui.selection.dropdown .menu::-webkit-scrollbar-button {
    display: none
}